doctype html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='	tube2mp3 is a simple tool that allows you to convert YouTube\
    videos to MP3 format absolutely free. Copy and paste any YouTube URL\
    address (link) in the field above and the tube2mp3 app will\
    convert it to MP3 file in seconds. tube2mp3 creates high quality\
    mp3 files, entirely for free!')
    title Tube2Mp3 | Convert Youtube Video to MP3
    link(rel='stylesheet' href='css/main.css')
    
  body
  header#up.header
    .container
      nav.nav
        .logo tube2Mp3
        ul.navigation
          li
            a.link(href='') Homepage
          li
            a.link(href='') Privacy
  main.main
    .container
      .title
        h1 Convert YouTube Videos To MP3!
        p Free YouTube to mp3 conversion tool
      form.form
        label(for='url') YouTube Video Url:
        input#url(type='url' placeholder='http:// Enter Your YouTube Video Url Here')
        button Convert YouTube Video To MP3
      .information
      .description
        p tube2mp3 is a simple tool that allows you to convert YouTube videos to MP3 format absolutely free. Copy and paste any YouTube URL address (link) in the field above and the tube2mp3 app will convert it to MP3 file in seconds. tube2mp3 creates high quality mp3 files, entirely for free!
        p The conversion process takes only a few seconds thanks to the fast software that tube2mp3 uses. When conversion is done, you can download the mp3 file from the link provided.
  .footer
    .container
      .links
        a(href='Domain.net') Domain.net
        a(href='#up') Back to top
  script(src='js/dist/main.js' type='module')
